.social-login {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}

.social-btn {
  color: azure;
  background-color: white;
  padding: 0px;
  border: 0px;
}

.social-btn:hover {
  color: aliceblue;
}

.social-btn img {
  height: 48px;
  float: left;
  margin-top: 10px;
  width: 48px;
}

.social-btn.google img {
  margin-left: 35px;
  width: 420px;
  height: 57px;
  object-fit: cover;
}

.social-btn.kakao img {
  margin-left: 35px;
  width: 420px;
  height: 57px;
  object-fit: cover;
}

.social-btn.naver img {
  margin-left: 35px;
  width: 420px;
  height: 57px;
  object-fit: cover;
}

.login-logo {
  display: flex;
  flex-direction: column;
}
