@charset "UTF-8";

.button {
    width:500px;
    background-color: #f8585b;
    border: none;
    color:#fff;
    padding: 15px 0;
    align-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
}
